.jumbotron{
   background: gold !important;
   background-image: 
   }

a.btn{
    /* display: flex;
    justify-content: center; */
  }

.container{
background-color: antiquewhite;
}

.navbar{
    text-decoration-color: aqua;
}